@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');

:root {
    --font-titulo: 'Loved by the King', cursive;
    --font-texto: 'Arial', 'Verdana', 'Helvetica', Sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

body {
    background-image: url(../imagem/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho {
    font-family: var(--font-titulo);
    padding: 10px;
    text-align: center;
    background-color: rgb(233, 133, 133);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.365);
}

.titulo {
    text-align: center;
    font-size: 3em;
    padding: 40px;
    color: white;
}

main {
    width: 30vw;
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

.subtitulo {
    font-size: 2em;
    padding: 10px;
}

.text {
    font-family: var(--font-texto);
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    padding: 10px;
}

.botao {
    display: block;
    background-color: rgb(219, 19, 19);
    width: 140px;
    height: 60px;
    margin: 10px auto;
    border: 3px solid #000000;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
}

.botao > a {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    color: white;
}

img {
    display: block;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.250);
}